@font-face {
  font-family: 'Stangith';
  src: url('../assets/fonts/stangith.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Light';
  src: url('../assets/fonts/avenir-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

body, p, a, li, div, button, input, form, label, td {
  font-family: avenir-light !important;
}

p {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: stangith !important;
}

p {
  font-size: 19px;
}

section {
  padding: 0px;
}

/* header section */
.home-header nav li {
  display: flex;
  margin-left: 10px;
  transition: 0.3s;

}

.home-header nav a {
  color: #222 !important;
  font-size: 18px;
  border-bottom: 1px solid #fff0;
}

header {
  background: #fffffff7;
}

header .sing-up-icon {
  font-size: 22px;
  margin-right: 7px;
  color: #222;
}

header .con-icon {
  font-size: 20px;
  margin-right: 7px;
  color: #222;
}

.home-header nav li a {
  margin: 0px !important;
  padding: 2px;
}

.home-header nav li:nth-child(5) {
  margin-right: 100px;
}

.home-header nav li a {
  display: flex;
  text-decoration: none !important;
  border-bottom: 2px solid #fff0
}

.home-header nav li a:hover {
  border-bottom: 2px solid #E87946;
}

/* loader start */
.loader-area {
  background: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-content: center;
  z-index: 1111;
  transition: 0.3s;

}

.loader {
  font-size: 48px;
  color: #FFF;
  display: inline-block;
  font-family: Avenir !important;
  font-weight: 400;
  position: relative;
  height: 80px;
  margin: auto;
}

.loader:after {
  content: 'Pync Parcel Chateau';
  position: relative;
  z-index: 5;
}

.loader::before {
  content: '';
  height: 6px;
  border: 1px solid orange;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(orange 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto
  }
}

/* loader end */


/* Bannser section */
.banner-section {
  /* background-image: linear-gradient(#00000003), url('../assets/img/hero.jpg'); */
  background-image: linear-gradient(#00000003), url('../assets/img/A_joyful_stylish_group_of_friends_mixed_ethnicities_7d421d78-dd4a-40f6-9808-1ef1908a89fb-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  /* padding: 60px 0px; */
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
}

.banner-section h1, .banner-section h2 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  font-family: Avenir !important;
}

.banner-section p {
  color: #fff;
  width: 250px;
  line-height: 23px;
  font-weight: 500;
}

.banner-section button a {
  text-decoration: none;
  color: #222;
  font-family: Avenir !important;
}

.banner-section button {
  background: #F8EFE3;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  width: 250px;
  height: 44px;
  border: none !important;
  padding-bottom: 2px;
  transition: 0.3s;
}

.banner-section button:hover {
  font-size: 22px;
}

@media only screen and (max-width: 767px) {
  .banner-section button {
    background: #000 !important;
  }
}

#SDT {
  background-image: url('../assets/img/ppc-pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
  padding: 70px 0px;
  background-position: center;
}

.Shipping-details h2 {
  text-align: center;
  font-size: 35px !important;
  color: #fff;
  padding-top: 50px;
  width: 534px;
  margin: 0px auto 17px auto;
}

.Shipping-details p {
  color: #fff;
  width: 573px;
  margin: auto;
  padding-bottom: 50px;
}

.logo {
  height: 60px;
  width: 250px;
}

.Shipping-details-text {
  margin-top: 40px;
}

.Shipping-details-text .row {
  margin-bottom: 50px;
}

.Shipping-details-text p {
  color: #222;
  padding: 0px;
  margin: 0px;
  line-height: 24px;
  width: 350px !important;
}

.contact-us {
  margin-top: 100px;
}

.Shipping-details-text h3 {
  color: #E87946;
  font-size: 35px;
  font-weight: 900;
}

.Shipping-details-text small {
  font-weight: 900;
  margin-left: 8px;
}

.stepByStep_title {
  text-align: center;
  font-size: 35px;
  margin: 30px 0px 70px 0px;
}

.ship-dels-img img {
  width: 400px;
  height: 400px;
}

.Shipping-details-text h2 {
  color: #226424;
  font-size: 23px;
  margin-top: 20px;
}

.faq-img {
  align-content: center;
}

.FAQ-section>div:first-child {
  background-image: url('../assets/img/ppc-pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
  padding: 70px 0px;
  background-position: center;
}

.faq-heading {
  max-width: 600px;
  margin: auto;
}

.FAQ-section>div:first-child h2 {
  text-align: center;
  font-size: 50px !important;
  color: #fff;
}

.FAQ-section>div:first-child p {
  color: #fff;
  width: 573px;
  margin: auto;
}

.FAQ-section>div:last-child {
  margin-top: 70px;
}

.FAQ-section .faq-title {
  text-align: center;
  font-size: 28px !important;
  margin-top: 50px;
}

.FAQ-section-details button {
  color: #564233;
  font-size: 19px;
}

.FAQ-section .accordion-button:not(.collapsed) {
  background-color: unset !important;
}

.FAQ-section .accordion-button:focus {
  border-color: unset !important;
  box-shadow: unset !important;
}

.FAQ-section .accordion-button:not(.collapsed) {
  color: unset !important;
}

.footer>div:first-child li {
  list-style-type: none;
  text-align: left;
  margin: 6px 0px;
}

.footer>div:first-child li a {
  color: #ffffffd9;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: underline;
  font-weight: 500;
}

.footer>div:first-child {
  margin: 50px 100px 0px 100px !important;
}

footer {
  background: #131212;
  padding: 15px 0px;
}

.footer ul {
  padding: 0px;
}

.social-icons-area {
  width: 188px;
  margin-left: auto;
}

.social-icons p {
  color: #fff;
  text-decoration: none;
  text-align: left;
  margin-left: 17px;
}

.social-icons a {
  width: 25px;
  display: inline-block;
}

.social-icons a img {
  transition: 0.3s;
  width: 100%;
}

.social-icons a {
  margin-left: 6px;
}

.social-icons a:nth-child(3) svg {
  font-size: 10px;
  width: 13px;
  margin-top: -5px;
  margin-left: 1px;
}

.social-icons {
  padding: 0px;
}

.footer>div:first-child li a:hover {
  color: #ffffffa3 !important;
  font-size: 15px;
  text-decoration: none !important;
}

.bi-youtube::before {
  font-size: 18px;
}

.bi-whatsapp::before {
  font-size: 18px;
}

.social-icons a img:hover {
  width: 23px;
}

.footer>div:nth-child(3) {}

.confm-area .bg-gradient-primary-to-secondary {
  background: linear-gradient(45deg, #f3f3ff, #6d3788) !important;
}

.modal-title {
  font-size: 22px;
  color: #fff !important;
  font-family: avenir-light !important;
  font-weight: 700;
  margin-left: 15px !important;
}

.signIn-forPass a {
  font-size: 18px;
  font-family: avenir-light !important;
  margin-bottom: 10px !important;
  display: inline-block;
  color: #576057;
  text-decoration: none;
  border-bottom: 1px solid #b7ccb73b;
  transition: 0.3s !important;
}

.signIn-forPass {
  display: flex;
  justify-content: space-between;
}

.confm-area .d-grid {
  text-align: center;
  justify-content: center;
}

.confm-area .d-grid button {
  background: linear-gradient(45deg, #357d69, #0b020f) !important;
  opacity: 1;
  border: navajowhite;
  margin-bottom: 10px;
  transition: 0.3s;
  padding-top: 2px;
  padding-bottom: 6px;
  margin-top: 20px;
}

.confm-area .d-grid button:hover {
  background: linear-gradient(45deg, #0b020f, #357d69) !important;
}

.signIn-forPass a:hover {
  font-size: 17px;
}

.signUp-form p {
  line-height: 20px;
  font-size: 18px;
}

.star {
  color: red;
  margin: 1px;
}

/* Sign up form */
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.signUp-form {
  background-image: url('../assets/img/ppc-pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
  padding: 70px 0px;
  background-position: center;
  background-color: #357d69;
}

.signUp-form .confm-area .bg-gradient-primary-to-secondary {
  background: #fff !important;
  border-radius: 10px;
}

.confm-area {
  width: 500px;
  margin: 30px auto 30px auto;
  background: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Register-title {
  text-align: center !important;
  font-size: 24px;
  font-family: avenir-light !important;
  color: #357d69 !important;
}

.signUp-form .form-floating {
  padding: 5px;
}

.signUp-form .form-floating input {
  border: 1px solid #0080001c;
}

.signUp-form .signIn-forPass a {
  color: #357d69 !important;
}

.confm-area>div:nth-child(2) {
  /* border: 1px solid red !important; */
  box-shadow: 0px -2px 2px #2222220d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.about-us {
  margin-top: 40px;
}

.about-us h2 {
  text-align: center;
  color: #222;
  font-size: 35px;
  margin-bottom: 10px;
}

.about-us p {
  text-align: center;
  width: 773px;
  margin: auto;
}

.about-us a {
  color: #326024;
  transition: 0.3s !important;
}

.about-us a:hover {
  text-decoration: none;
}

.checkbox-wrapper-33 {
  display: flex;
}

.checkbox-wrapper-33 p a {
  color: #357d69;
  text-transform: lowercase;
  transition: 0.3s;
}

.Google-recaptcha {
  width: 293px;
  overflow: hidden;
  margin: auto !important;
  margin-bottom: 10px !important;
  border-right: 1px solid #d3d3d3;
  border-radius: 5px;
}

.checkbox-wrapper-33 p a:hover {
  text-decoration: none;
}

/* checkbox style start */
.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #5F11E8;
  --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
  --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(.11, .29, .18, .98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  justify-content: flex-start;
  height: 25px;
}

.checkbox-wrapper-33 .checkbox+.checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid #DBD9DF;
  position: relative;
  border-radius: 0.1em;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: green;
  display: inline-block;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}

.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}

.checkbox-wrapper-33 .checkbox__trigger:checked+.checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper-33 .checkbox__trigger:checked+.checkbox__symbol .icon-checkbox path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}

.checkbox-wrapper-33 .checkbox__trigger:focus+.checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

/* checkbox style end */
.pwdforgotText {
  padding: 8px 20px;
}

/* about us*/
.aboutUs {
  margin-top: 100px;
}

.aboutUs h2 {
  margin-bottom: 0px;
}

.contactUs-subTle {
  color: #222 !important;
  font-size: 20px !important;
}

.contactUsTle {
  font-size: 35px;
}

.whatsapp i {
  font-size: 33px;
  color: #357d69;
}

.contact-us svg {
  color: #357d69;
}

.contact-us h4 {
  font-size: 20px;
  color: #357d69;
}

.contact-us .link-secondary {
  color: #232124 !important;
  transition: 0.3s;
}

.contact-us .link-secondary:hover {
  text-decoration: underline !important;
}

.termsAndCn {
  margin-top: 120px;
}

.termsAndCn h1 {
  text-align: center;
  margin-bottom: 28px;
}

.termsAndCn p {
  line-height: 20px;
  font-size: 18px;
}

.RtdItem {
  transition: 0.3s;
  color: #226424 !important;
}

.RtdItem:hover {
  text-decoration: none;
}

/* Rate area */
.rate-area {
  margin-top: 115px;
}

.rate-title h1, .rate-title h3 {
  text-align: center;
}

.rate-area thead tr th {
  font-size: 26px;
  color: #fff;
  text-align: center;
}

.rate-area tbody tr td {
  font-size: 20px;
}

.rate-title p {
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
}

.rate-area thead {
  background: #226424;
}

.rate-area table {
  max-width: 800px;
  margin: auto;
}

.shipping-note ul {
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
}

.shipping-note ul li {
  font-size: 19px;
}

.shipping-rate thead tr th {
  color: #226424 !important;
}

.shipping-rate thead {
  background: #fff !important;
}

.shipping-rate .rate-title {
  background-image: url('../assets/img/ppc-pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
  padding: 70px 0px;
  background-position: center;
  color: #fff;
  margin-bottom: 20px;
}

.shipping-rate tbody tr td {
  text-align: center !important;
}

.additionalInfo .shipping-note h5 {
  margin-bottom: 0px;
  font-size: 35px;
}

.additionalInfo .shipping-note h5 {
  margin-bottom: 0px;
}

.additionalInfo .shipping-note ul {
  margin-top: 33px;
  border-top: 1px solid #ece9e9;
  max-width: 460px;
  padding-top: 10px !important;
}

.additionalInfo p {
  margin-bottom: 9px;
  color: #226424 !important;
}

.rate-title p {
  padding: 0px 10px;
}

/* Restricted items */
.restricted-items {
  margin-top: 130px;
}

.RestrictedImslist {
  max-width: 500px;
  margin: auto;
}

.RestrictedImslist .itemsList span img {
  vertical-align: middle;
  width: 12px;
  margin-right: 7px;
  margin-top: -3px;
}

.RestrictedImslist .itemsList p {
  margin-bottom: 2px;
  border: 1px solid green;
  padding: 6px;
  line-height: 23px;
  margin-bottom: 10px;
}

.restricted-items h1 {
  text-align: center;
}

.LylImsLt thead {
  background: #226424;
}

.LylImsLt thead tr th {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.LylImsLt tbody tr td {
  font-size: 20px;
}

.LylRtdIms {
  max-width: 900px;
  margin: auto;
}

.restricted-items>div>p {
  max-width: 750px;
  margin: auto;
}

.itemsList {
  padding: 14px;
}

.RestrictedImslist>p {
  margin: 0px;
  color: #226424 !important;
  font-size: 23px;
  margin-top: 20px;
}

.LylImsLt-title {
  color: #226424 !important;
  font-size: 23px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.LylImsLt h4 {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
}

.LocallyRestrictedItems h2 {
  text-align: center;
  margin-top: 42px;
}

.Google-recaptcha {
  margin-left: 24px;
  margin-bottom: 16px;
  margin-top: 10px;
}

.Google-recaptcha .rc-anchor-content {
  width: 150px !important;
}

.RefundClmPlcy-area {
  margin-top: 130px;
}

.RefundClmPlcy-area table tr td {
  padding: 2px 10px;
  border: 1px solid #222;
}

.RefundClmPlcy-area table tr th {
  text-align: center;
  font-size: 20px;
  border: 1px solid #222;
}

.RefundClmPlcy-area table {
  margin-bottom: 10px;
}

.RefundClmPlcy-area h1 {
  text-align: center;
}

/* image gallery */
.image-gallery .hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
  height: 400px;
  transition: transform 0.3s ease;
}

.image-gallery {
  margin-top: 50px;
}

.image-gallery .row {
  margin: 0px;
}

.hover:hover {
  transform: scale(1.05);
}

.hover:hover .hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover:hover .hover-overlay {

  background: #22222291;
}

.cost-Calculator-area {
  background-image: url('../assets/img/whatsapp-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-gallery .hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.iimage-gallery .hover-content {
  position: relative;
  z-index: 99;
}

.image-gallery .hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.image-gallery .hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.image-gallery .hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.image-gallery .hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.image-gallery .hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.mage-gallery .hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.image-gallery .hover-1:hover img {
  left: 0;
}

.image-gallery .hover-1:hover .hover-overlay {
  opacity: 0;
  transition: 0.8s;
}

.image-gallery .hover-2-title {
  position: absolute;
  top: 0px;
  left: 0;
  text-align: left;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
  font-family: avenir-light !important;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 25px;
  height: 85px;
  bottom: 0px;
  right: 0px;
  margin: auto !important;
  padding-left: 10px;
  transition: 0.3s;
}

.image-gallery .hover-2-title:hover {
  font-size: 24.5px;
}

.hover-link {
  text-decoration: none;
  display: block;
}

.hover-link:hover {
  text-decoration: none;
}

.tile-1::before {
  content: "We’re here to help";
  position: absolute;
  top: 0;
  left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 25px;
  font-weight: 900;
  text-transform: capitalize;
  color: #fff;
}

.tile-2::before {
  content: "Learn more";
  position: absolute;
  top: 0;
  left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 25px;
  font-weight: 900;
  text-transform: capitalize;
  color: #fff;
}

.tile-3::before {
  content: "Experience the Difference";
  position: absolute;
  top: 0;
  left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 25px;
  font-weight: 900;
  text-transform: capitalize;
  color: #fff;
}

.hover:hover .tile-1::before,
.hover:hover .tile-2::before,
.hover:hover .tile-3::before {
  opacity: 1;
}

.hover:hover .hover-title {
  opacity: 0;
}

.image-gallery .hover-2-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
}

.image-gallery .hover-2:hover .hover-2-description {
  bottom: 190px;
  opacity: 1;
}

.image-gallery .hover-2-title span {
  font-weight: 500;
  text-transform: lowercase;
  font-size: 20px;
  display: block;
}

.gellary-link {
  text-decoration: none;
  position: relative;
  color: #fff;
  transition: 0.3s;
}

.gellary-link:hover {
  text-decoration: underline;
  color: #fff;
}

.gellary-link::after {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-right: 3px solid #fff;
  position: absolute;
  top: 8px;
  right: -19px;
  border-bottom: 3px solid #fff;
  transform: rotate(-42deg);
}

#signup_pwd {
  position: relative;
}

#signup_pwd img {
  width: 25px;
  position: absolute;
  top: 6px;
  right: 8px;
  cursor: pointer;
}

.sign_out_icon i {
  font-size: 22px;
  color: #222;
  cursor: pointer;
  margin-right: 7px;
}

.sign_out_icon {
  position: absolute;
  right: 4px;
}

.cost-Calculator {
  max-width: 500px;
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 0px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  color: #000;
  background: #e87946;
}

.cost-Calculator input {
  border: 0px;
  margin: 10px auto;
}

.cost-Calculator h1 {
  font-size: 25px;
  font-family: avenir-light !important;
  text-align: center;
  margin-top: 49px;
  color: #fff;
}

.cost-Calculator label {
  border: 0px;
  color: #fff;
}

.cost-Calculator button {
  background: #222;
  border: 0px !important;
}

.cost-Calculator .Calculator_btn:hover {
  background: #222222d6 !important;
}

.cost-Calculator button:last-child {
  background: #222;
}

.cost-Calculator .reset_btn:hover {
  background: #222222d6 !important;
}

.cost-buttons {
  text-align: end;
}

.cost-area {
  margin: 0px;
  font-size: 18px;
  color: #e87946db;
  border-radius: 7px;
  padding: 5px 10px;
  background: #fff;
  margin: 10px 0px;
}


/* Typical Device Breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .signIn-forPass a {
    font-size: 16px !important;
  }

  .signUp-form {

    margin-bottom: 0px !important;
  }

  .logo {
    width: 164px;
    height: 47px;
  }

  .banner-section h1 {
    font-size: 35px;
    text-align: center !important;
    margin-top: 44px;
  }

  .banner-section h2 {
    font-size: 35px;
    margin-top: -12px;
    text-align: center !important;
  }

  .banner-section .container {
    text-align: center;
  }

  .Shipping-details h2 {
    font-size: 25px !important;
    padding-top: 0px;
    width: 100%;
  }

  .Shipping-details p {
    width: unset !important;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
  }

  #SDT {
    margin-top: 30px;
  }

  .Shipping-details-text p {
    width: unset !important;
  }

  .Shipping-details-text h2 {
    font-size: 28px;
  }

  .Shipping-details-text h3 {
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
  }

  .Shipping-details-text {
    margin-top: 0px !important;
  }

  .ship-dels-img img {
    width: 80% !important;
    margin-top: 15px;
    height: 330px;
  }

  .FAQ-section>div:first-child h2 {
    font-size: 28px !important;
  }

  p, h1, h2, h3, h4, h5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .FAQ-section>div:first-child p {
    width: unset;
    font-size: 18px;
  }

  .FAQ-section {
    margin-top: 40px;
  }

  .FAQ-section>div:last-child {
    margin-top: 40px;
  }

  .FAQ-section-details .accordion-button {
    padding: 10px 0px;
  }

  .footer>div:first-child img {
    width: 290px;
    height: 70px;
    margin-top: 40px;
  }

  footer ul {
    margin: 0px !important;
    padding: 0px 0px;
  }

  .footer>div:nth-child(2) {
    padding: 0px 10px;
  }

  .social-icons {
    margin-bottom: 10px;
  }

  .footer>div:nth-child(3) {
    padding: 7px 0px;
  }

  .social-icons p {
    text-align: center;
    padding: 0px;
    margin-bottom: 1px;
    margin-top: 10px;
  }

  .social-icons a {
    text-align: left;
  }

  .Shipping-details-text div:nth-child(2) {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .Shipping-details-text div:nth-child(2) div:first-child {
    order: 2;
  }

  .Shipping-details-text div:nth-child(4) {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .Shipping-details-text div:nth-child(4) div:first-child {
    order: 2;
  }

  .FAQ-section>div:first-child {
    padding: 19px 10px;
  }

  .faq-img {
    margin-top: 10px;
  }

  .faq-img img {
    width: 100%;
  }

  .home-header nav li a {
    padding: 0px;
  }

  header .sing-up-icon {
    margin-top: -3px;
    margin-right: 7px;
  }

  header .con-icon {
    margin-top: 2px;
    margin-right: 7px;
  }

  .signInFm_logo img {
    width: 112px;
    height: 33px;
  }

  .confm-area {
    width: 300px !important;
  }

  .signUp-form .confm-area .bg-gradient-primary-to-secondary {
    padding: 10px !important;
    margin: 0px 10px;
  }

  .FAQ-section-details button {
    font-size: 17px;
  }

  .FAQ-section-details p {
    font-size: 17px;
    margin: 0px;
    padding-top: 0px;
  }

  .FAQ-section-details .accordion-body {
    padding: 0px 10px 10px 17px;
  }

  .home-header nav li {

    margin-bottom: 10px;
  }

  .stepByStep_title {
    font-size: 28px;
    margin: 30px 0px 50px 0px;
  }

  .Shipping-details-text h3 {
    font-size: 28px;
  }

  .about-us h2 {
    font-size: 28px;
    line-height: 30px;
  }

  .about-us p {
    width: unset;
    margin: auto;
    line-height: 24px;
  }

  h1, h2, h3, h4, h5, h6, p {
    text-align: center;
  }

  .Shipping-details-text h3 {
    text-align: center !important;
  }

  .banner-section {
    padding: 160px 0px;
  }

  .footer>div:first-child {
    margin: 0px !important;
  }

  .social-icons p {
    text-align: center !important;
  }

  .social-icons div {
    text-align: center;
    margin-top: 10px;
  }

  .ship-dels-img {
    text-align: center;
  }

  .contactUsTle {
    font-size: 28px;
    margin-bottom: 4px !important;
  }

  .contactUs-subTle {
    font-size: 18px !important;
    text-align: left !important;
  }

  .contact-us .mb-4 {
    margin-bottom: 12px;
  }

  .whatsapp i {
    font-size: 25px;
  }

  .contact-us svg {
    width: 25px;
  }

  .contact-us h4 {
    margin-bottom: 2px !important;
  }

  .rate-area tbody tr td {
    font-size: 16px;
    line-height: 19px;
  }

  .rate-area thead tr th {
    font-size: 18px;
  }

  .rate-title h1, .rate-title h3 {
    font-size: 25px;
    text-align: center !important;
  }

  .rate-title p {
    line-height: 25px;
  }

  .shipping-rate.rate-area {
    margin-top: 40px;
  }

  .shipping-rate .rate-title {
    padding: 35px 0px;
  }

  .shipping-note ul li {
    font-size: 18px;
    line-height: 24px;
    padding: 0px 0px;
  }

  .additionalInfo .rate-title p {
    font-size: 18px;
    text-align: left;
  }

  .additionalInfo .shipping-note h5 {
    font-size: 20px;
    text-align: left !important;
  }

  .shipping-rate .rate-title {
    margin-top: 35px;
  }

  .ship-dels-img img {
    width: 100%;
    height: auto;
  }

  .Shipping-details-text p {
    width: unset;
  }

  .restricted-items>div>p {
    font-size: 18px;
    line-height: 22px;
  }

  .restricted-items h1 {
    font-size: 25px;
    text-align: center !important;
  }

  .RestrictedImslist>p {
    line-height: 20px;
    margin-bottom: 5px;
  }

  .RestrictedImslist .itemsList p {
    font-size: 18px;
  }

  .RestrictedImslist .itemsList span img {
    width: 8px;
  }

  .itemsList {
    padding: 14px;
    margin: 10px;
  }

  .LocallyRestrictedItems h2 {
    font-size: 25px;
    text-align: center !important;
  }

  .LylRtdIms p {
    font-size: 18px;
    line-height: 20px !imporant;
    text-align: left;
  }

  .LylImsLt tbody tr td {
    font-size: 18px;
    line-height: 20px;
  }

  .LylImsLt table {
    overflow: auto;
  }

  .LylRtdIms {
    max-width: unset;
  }

  .restricte-item-table {
    overflow: scroll;
  }

  .LylImsLt thead tr th {
    line-height: 20px;
  }

  .LylImsLt h4 {
    font-size: 23px;
    line-height: 24px;
  }

  p {
    line-height: 23px !important;
  }

  .RestrictedImslist>p {

    font-size: 18px;
  }

  .termsAndCn h2, .termsAndCn h3, .termsAndCn h4, .termsAndCn h5 {
    font-size: 20px !important;
  }

  .RefundClmPlcy-area table tr th {
    font-size: 18px;
  }

  .RefundClmPlcy-area table tr td {
    padding: 2px 4px;
    font-size: 16px;
    line-height: 19px;
  }

  .RefundClmPlcy-area h2 {
    font-size: 20px;
  }

  .loader {
    font-size: 25px;
    height: 43px;
  }

  .RefundClmPlcy-area table {
    width: 400px;
  }

  .summaryClmPross {
    overflow-x: scroll;
  }

  .signUp-form p {
    line-height: 18px !important;
    font-size: 16px;
    margin-top: -19px;
    padding: 0px;
    text-align: left;
  }

  .pwdforgotText {
    font-size: 16px;
    margin-top: 0px !important;
    padding: 9px !important;
    text-align: center !important;
  }

  .checkbox-wrapper-33 .checkbox {

    margin-top: -16px;
  }

  .home-header nav li i {

    display: none !important;
  }

  .contact-us .img, .aboutUs .img {

    display: none;
  }

  .shipping-note {
    padding: 10px;
  }

  .legalnotice {
    display: block;
    text-align: left;
  }

  .terms-and-condition .lastupdated {

    text-align: center;
  }

  .contact-us h4 {
    text-align: left !important;
  }

  .restricted-items p {
    text-align: left !important;
  }

  .RefundClmPlcy-area p {
    text-align: left !important;
  }

  .shipping-rate p {

    text-align: left !important;
  }

  .aboutUs p {
    text-align: left !important;
  }

  .termsAndCn p {

    text-align: left !important;
  }

  .checkbox-wrapper-33 {
    margin-top: 10px;
  }

  .sign_out_icon {
    position: unset !important;
  }

  .confm-area .d-grid button {
    font-size: 18px;
  }

  .Register-title {
    font-size: 18px;
  }

  .cost-Calculator {
    max-width: 280px;
    height: 435px;
  }

  .cost-Calculator h1 {
    font-size: 20px;
  }

  .cost-area {
    margin: 12px 0px;
    font-size: 18px
  }

  .cost-Calculator h1 {
    font-size: 20px;
    margin-top: 29px;
  }

  .social-icons-area {
    width: 100% !important;
    margin-left: unset !important;
  }

  .social-icons p {

    text-align: center !important;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {}

  /* Medium devices (landscape tablets, 768px and up) */

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {}

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

    section, footer {
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }

  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */

  .panel-footer {
    padding: 10px !important;
  }

  .panel-footer .active>.page-link, .page-link.active {
    color: white !important;
    background-color: #e87947 !important;
    border-color: #e87947 !important;
  }

  a {
    color: #e87947 !important;
    text-decoration: underline;
  }
