*.docx
*.sql
.DS_Store
error_log
!uploaded-file/
uploaded-file/*
!uploaded-file/.gitkeep
!uploaded-file/.gitignore
*.env
.vscode/
.idea/
vendor/

cache/
log/
user-dashboard/cache/
user-dashboard/log/
user-dashboard/vendor/
user-dashboard/uploads/*
